<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Selfie</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- The browser will (probably) render the width of the page at the width of its own screen -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> <!-- Bootstrap (CSS) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <!-- JQuery -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> <!-- Bootstrap (JS) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> <!-- jQuery UI -->
</head>
<body>
	<div>
		<a id="index" href="/helixapp/index" class="btn btn-floating btn-default pull-right btn-lg col-xs-2" role="button" style="height: 20vh;font-size: 40px; padding-top:10px">
        <span class="glyphicon glyphicon-home"></span>
        </a>
	</div>
    	<div>
		<a id="camera" href="http://127.0.0.1:5000/tweet" class="btn btn-floating btn-default btn-lg col-xs-2" role="button" style="height: 20vh;font-size: 40px; padding-top:10px">
        <span class="glyphicon glyphicon-camera"></span>
        </a>
	</div>

<iframe src="http://0.0.0.0:1212" class="iframe" scrolling="no" width=800px height=600px frameborder="0"></iframe>

</body>
</html>
