<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activities</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- The browser will (probably) render the width of the page at the width of its own screen -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> <!-- Bootstrap (CSS) -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <!-- JQuery -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> <!-- Bootstrap (JS) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> <!-- jQuery UI -->
	</head>
</head>
<body>
	<div>
		<a id="index" href="/helixapp/index" class="btn btn-floating btn-default btn-lg col-xs-12" role="button" style="height: 20vh;font-size: 40px; padding-top:25px">
        <span class="glyphicon glyphicon-home"></span>
        </a>
	</div>
    <div>
		  <a id="eat" href="#" class="btn  btn-lg col-xs-4" role="button" style="height:40vh; font-size:40px; padding-top: 30px">
		  <span class="fa fa-cutlery"></span>
		  <br/>Eating
		  </a>

		  <a id="running" href="#" class="btn btn-info btn-lg col-xs-4" role="button" style="height:40vh; font-size: 40px; padding-top: 30px">
		  <span class="fa fa-flag-checkered"></span>
		  <br/>Running
		  </a>

		  <a id="cycling" href="#" class="btn btn-lg col-xs-4" role="button" style="height:40vh; font-size: 40px; padding-top: 30px">
		  <span class="fa fa-bicycle"></span>
		  <br/>Cycling
		  </a>

    </div>
    <div>
		  <a id="water" href="#" class="btn btn-info btn-lg col-xs-4" role="button" style="height:40vh; font-size: 40px; padding-top: 30px">
		  <span class="fa fa-ship"></span>
		  <br/>Water</br>Activities
		  </a>

		  <a id="advanture" href="#" class="btn btn-lg col-xs-4" role="button" style="height:40vh; font-size: 40px; padding-top: 30px">
		  <span class="fa fa-rocket"></span>
		  <br/>Adventure</br>Zone
		  </a>

		  <a id="volunteering" href="#" class="btn btn-info btn-lg col-xs-4" role="button" style="height:40vh; font-size: 40px; padding-top: 30px">
		  <span class="fa fa-group"></span>
		  <br/>Volunteers
		  </a>

    </div>


</body>
</html>
