<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Emergency</title>
</head>
<body>
    {% load static %}
    	<a id="index" href="/helixapp/index" class="btn btn-floating btn-default btn-lg col-xs-12" role="button" style="height: 20vh;font-size: 40px; padding-top:50px">
        <span class="glyphicon glyphicon-home"></span>
        </a>

        <img src="{% static "emergency.gif" %}" style='position:fixed;top:20vh;left:0px;width:100%;height:80vh;z-index:-1;'>

</body>
</html>
