<!DOCTYPE html>

<!--{% load staticfiles %}-->

<html lang="en">

	<head>
		<title>Helix</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"> <!-- The browser will (probably) render the width of the page at the width of its own screen -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> <!-- Bootstrap (CSS) -->
		<link rel="stylesheet" href="{% static 'css/style.css' %}" /> <!-- CSS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> <!-- JQuery -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> <!-- Bootstrap (JS) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> <!-- jQuery UI -->
		<!--<script src="{% static 'js/script.js' %}"></script> &lt;!&ndash; JS &ndash;&gt;-->
	</head>

	<body>
		{% load static %}
    	<img src='{% static "game.jpg" %}' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>

	
		</br><center><h2><b><i>
				I am so sorry, but you have chosen the wrong location and as a result you have failed answering the riddle. 
			    Luckily I'm a merciful developer, so I am going to give you the opportunity to try again.
			    Best of luck!
		</i></b></h2></center>
		
		<div>
        	<a id="index" href="/helixapp/index" class="btn btn-floating btn-default btn-lg col-xs-2" role="button" style="height: 20vh;font-size: 40px; padding-top:25px">
        	<span class="glyphicon glyphicon-home"></span>
        	</a>
    	</div>


	</body>
	
</html>
